

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	width: 100%;
	margin-bottom: 1.5em;
}

.gallery-item a {
	transition: 0.3s ease;
}

.gallery-item a:hover img {
	-webkit-filter: brightness(0.5);
	filter: brightness(0.5);
	/* transition: 0.3s ease; */
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	/* padding: 5px; */
	/* float: left; */
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

/* Masonry */
.gallery-columns-3 {
	column-count: 3;
	column-gap: 10px;
}

.gallery-columns-3 .gallery-item {
  /* max-width: 32%; */
	/* max-width: 33.33%; */

	/* Masonry */
	max-width: 100%;
	width: 100%;
	display: inline-block;
	margin: 0 0 5px;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-item img {
	width: 100%;
	height: auto;
	opacity: 0;
	/* animation: fadeIn 3s ease forwards; */
}

.fade-in {
	animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.gallery-caption {
	/* display: block; */
	display: none;
}
